<html>
  <head>
    <link href="https://digital-marketing.jp/wp-content/themes/digiken/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  </head>
  <body>
    <h1>
      {{ .title }}
    </h1>
    <p>{{ .body }}</p>
    <p>{{ .status }}</p>
  </body>
</html>
